<div class="container">
    <div id="create-hacker">
        <h1 id="CRtitle">Character creation</h1>
        <br>
        
        <br>
        <div id="left-box">
            <h2>Upload a new User photo</h2>

            <form action="/upload-photo" method="POST" enctype="multipart/form-data">
                <label>Profile picture</label>
                <input type="file" name="photo">
                <input type="submit" value="save">
            </form>

            <form action="/create-hacker" method="POST" enctype="multipart/form-data">
                <label>Title</label>
                <input type="text" name="title">
               

                <label>Description</label>
                <input type="text" name="description">
                

                <label>Poster</label>
                <input type="file" name="photo">
                

                <p>Click Save to Create Hacker</p>
                <input type="submit" value="SAVE">
            </form>
        </div>
        <div id="center-box">
            <input type="text" required="true" placeholder="Type in your hax0r name">
        </div>
        
    </div>

</div>


