<div class="container">

    <h1>00101010 CHWU3K</h1>

    <form action="auth/sign-in">
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="button">Sign In</button>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="auth/sign-up">
        <button class="button">Sign Up</button>
    </form>
</div>