<div class="container">

    <h1>IT'S CYBERHACKER WARFARE ULTIMATE 3000!</h1>
    <h3 color="white" id="information-text">A game of 1's and 0's</h3>
    <h3 color="black" id="hidden-message">Mostly 0's such as yourself though</h3>


    <div id="infobox">
        <p id="information-text">
            It's the year 2018 and everyone and their grandmom has a computer. <br> Luckily for you, almost noone knows how
            they actually operate. <br> Enter the cyberworld to exploit this and hack some <br>
            succeptible companies or unprepared
            internet surfers.
        </p>
    </div>

        
    <div class="flex-columns-notwrap" id="homeinfobox">


        <div class="card">
            <img src="/images/hacker0101.jpg" alt="hackersphto" class="sign-in-photo">
            <div class="description">
                <p class="text-hi">Sign in to continue DDOS'ing</p>
                <br>
                <form action="auth/sign-in">
                    <button class="button">Sign In</button>
                </form>
            </div>
        </div>


        <div class="card">
            <img src="/images/pcsetup.jpg" alt="set-up-photo" class="sign-up-photo">
            <div class="description">
                <p class="text-hi">Sign up to create a cyberhacker</p>
                <form action="auth/sign-up">
                <br>
                    <button class="button">Sign Up</button>
                </form>
            </div>
        </div>


    </div>



</div>