<div class="container">

    <h1>Welcome to a game of 1's and 0's</h1>



    <h3>Mostly 0's such as yourself though</h3>



    <form action="auth/sign-in">

    <br>
    <br>
    <br>
    <br>
    <br>
        <button class="button">Sign In</button>
    </form>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <form action="auth/sign-up">
        <button class="button">Sign Up</button>
    </form>
</div>