<div class="cointainer">
    <div class="card">
        <h1>Welcome to the cyberwold</h1>
        <ul>
            <li><a href="/auth/sign-up">Create an account</a></li>
            <li><a href="/auth/sign-in">Sign in</a></li>
            <li><a href="/auth/sign-out">Sign out</a></li>
        </ul>
    </div>
</div>