<!DOCTYPE html>
<html lang="en">

<head>
    <title>Hackers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div id="background-image-green">
    </div>
    <!-- SIDE MENU -->
    <div id="side-bar">
        <a href="/home" class="side-bar-text" id="side-bar-home">HOME</a>
        <hr>
        <a href="/my-profile" class="side-bar-text" id="side-bar-my-profile">MY PROFILE</a>
        <hr>
        <a href="/home" class="side-bar-text" id="side-bar-hack">HACK</a>
        <hr>
        <a href="/hack/crimes" class="side-bar-undertitle" id="side-bar-crimes">CRIMES</a>
        <hr>
        <a href="/hack/hack-player" class="side-bar-undertitle" id="side-bar-hack-player">HACK PLAYER</a>
        <hr>
        <a href="/hack/wanted-list" class="side-bar-undertitle" id="side-bar-wanted-list">WANTED LIST</a>
        <hr>
        <a href="/home" class="side-bar-text" id="side-bar-alliance">ALLIANCE</a>
        <hr>
        <a href="/alliance/forum" class="side-bar-undertitle" id="side-bar-forum">FORUM</a>
        <hr>
        <a href="/alliance/group-kill" class="side-bar-undertitle" id="side-bar-group-kill">GROUP KILL</a>
        <hr>
        <a href="/alliance/hideout" class="side-bar-undertitle" id="side-bar-hideout">HIDEOUT</a>
        <hr>
        <a href="/marketplace" class="side-bar-text" id="side-bar-marketplace">MARKETPLACE</a>
        <hr>
        <a href="/system-repair" class="side-bar-text" id="side-bar-system-repair">SYSTEM REPAIR</a>
        <hr>
        <a href="/ladder" class="side-bar-text" id="side-bar-ladder">LADDER</a>
        <hr>
        <a href="/information" class="side-bar-text" id="side-bar-information">INFORMATION</a>
        <hr>
        <a href="/arcade" class="side-bar-text" id="side-bar-arcade">ARCADE</a>
        <hr>
        <a href="/auth/logout" class="side-bar-text" id="side-bar-logout">LOGOUT (sudo rm -rf)</a>
    </div>

    <!-- HEADER -->
    <div id="background-image-header">
        <div id="background-image-header-matrix">
            <div id="background-image-text">
                CyberHacker WarFare Ultimate 3000!
            </div>
        </div>
        <div id="navbar">
            <ul>
                <li><a>FENREW</a></li>
                <li><a>BASEMENT DWELLER</a></li>
                <li><a>WHITE HAT</a></li>
                <li><a>5000$</a></li>
                <li><a>BTRY: 80 %</a></li>
                <li><a>FW: 100 %</a></li>
                {{!-- <li><a>EXP 90/100 {{> userName}} </a></li> --}}

                <li><a href="/events">EVENTS</a></li>
            </ul>
        </div>
    </div>
    </div>


    <!-- GAMEAREA/GAMEPAD -->
    <div id="gamepad-fixed-adjuster"></div>
    <div id="gamepad">
        {{{body}}}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</body>

</html>