<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hackers</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

</head>
<body>
     {{{body}}}
     <script src='/javascripts/combat.js' />
</body>
</html>