<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>



<style type="text/css"> 
 #navbar ul { 
	margin-left: 2em;
    margin-right: 2em;
	padding: 0.8vw; 
	list-style-type: none; 
	text-align: center; 
	background-color: #000; 
	
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #000; 
	font-size: 0.6em;
} 
 
#navbar ul li a :hover { 
	color: #000; 
	background-color: #fff; 
	} 
 

</style> 
</head>
<body> 
<div id="navbar"> 
  <ul> 
	<li><a>FENREW</a></li>
	<li><a>BASEMENT DWELLER</a></li> 
	<li><a>WHITE HATS</a></li> 
	<li><a>5000$</a></li> 
	<li><a>BTRY: 80 %</a></li> 
	<li><a>FW: 100 %</a></li> 
	<li><a>EXP 90/100</a></li> 
	<li><a href="LINK TIL EVENTS HER">EVENTS</a></li> 

  </ul> 
</div> 
</body> 
</html>