* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Div global stuff */

h1 {
  color: rgb(205, 252, 161);
  text-align: center;
  padding-top: 5vh;
  font-size: 3.5vw;
  font-weight: bold;
  text-shadow: 3px 1px #145700;
  font-family: "Courier New", Courier, monospace;
  text-decoration: underline;
}



table,
th,
td {
  color: white;
  border-bottom: 1px solid white;
  font-size: 1.5vw;
}
.marketplace
{
  margin: 5vw auto;
}

.marketplace
td {
    border-bottom: 1px solid white;
    font-size: 1.5vw;
    text-align: center;
    line-height: 2
}

.ladder-padding {
  line-height: 2vw;
}

.ladder-wanted {
  width: 65%;
  margin: 2vw auto;
  padding: 50px 0 0 0;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

th,
td, {
  text-align: center;
  padding: 0.4vw;
}

/*For the index page (Haakon) */

.container {
  padding: 25px calc((100% - 960px) / 2);
}

.card {
  padding: 25px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

/*The general layout of the page*/

#background-image-green {
  background-image: url("../images/Background-img8JA.png");
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  height: auto;
  background-position: center;
  position: fixed;
  z-index: -1;
}

#background-image-header {
  background-image: url("../images/Background-img6.png");
  background-size: 80vw 15vh;
  width: 70vw;
  min-height: 15vh;
  height: auto;
  left: 15%;
  border-radius: 1%;
  position: fixed;
}

#background-image-header-matrix {
  background-image: url("../images/matrix-434037_960_720.png");
  background-size: 80vw 15vh;
  width: 67vw;
  height: 13vh;
  margin: 0 auto;
  background-repeat: no-repeat;
}

#background-image-text {
  color: rgb(236, 253, 220);
  text-align: center;
  padding-top: 4vh;
  font-size: 3vw;
  font-weight: bold;
  text-shadow: 2px 2px #145700;
  font-family: "Courier New", Courier, monospace;
}

.gamepad-fixed-adjuster {
  height: 15vh;
  background-color: black;
  width: 70vw;
  margin: 0 auto;
}

#gamepad {
  background-color: black;
  min-height: 85vh;
  height: auto;
  width: 70vw;
  margin: 0px auto;
}

/* Styling to the menu-page to the left! Remember: Float has not been cleared!*/

a {
  color: inherit;
  text-decoration: none;
}

#side-bar {
  background-color: black;
  color: white;
  margin: 20vh 0px 0px 1vw;
  float: left;
  width: 12vw;
  height: auto;
  font-size: 1.1vw;
  line-height: 30px;
  border: 3px solid rgb(243, 243, 243);
  border-radius: 3%;
  position: fixed;
}

.side-bar-text {
  margin-left: 0.5vw;
}

.side-bar-text:hover {
  color: red;
}

.side-bar-undertitle {
  margin-left: 1.5vw;
}

.side-bar-undertitle:hover {
  color: red;
}

/* NAV BAR */

#navbar ul {
  padding: 0.8vw;
  list-style-type: none;
  text-align: center;
  background-color: #000;
}

#navbar ul li {
  display: inline;
  margin: 0vw 3vw 0 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
}

#navbar ul li a {
  display: inline;
  color: white;
  
}

#navbar ul li a {
  text-decoration: none;
  padding: 0.2em 1em;
  background-color: #000;
  font-size: 1vw;
}

#navbar ul li a :hover {
  color: #000;
}

#nav-username {
  color: white;
}

#nav-userrank {
  color: white;
}

#nav-useralliance {
  color: white;
}

#nav-userbitcoins {
  color: yellow;
}

#nav-userbattery {
  color: rosybrown;
}

#nav-userfirewall {
  color: green;
}

#nav-userexp {
  color: orange;
}

/*Combat text styling*/

.insufficient-combat-stuff {
  width: 80%;
  margin: 0px auto;
  font-size: 1.9vw;
  line-height: 2.1vw;
  color: rgb(71, 223, 71);
  font-family: "Courier New", Courier, monospace;
  padding-top: 5vw;
}

#writing {
  width: 35vw;
  margin: 0px auto;
  font-size: 0.9vw;
  line-height: 1vw;
  color: rgb(71, 223, 71);
  font-family: "Courier New", Courier, monospace;
}

#red-error-text {
  color: red;
  font-size: 1vw;
}

#loading {
  width: 35vw;
  border: 4px solid white;
  height: 3vh;
  left: 32%;
  top: 22%;
  position: fixed;
}

#loading-bar {
  background-color: rgb(71, 223, 71);
  width: 0%;
  height: 100%;
  transition: width 1s;
}

.padding-underneath {
  padding-bottom: 5vw;
}

.gamepad-fixed-adjuster-two {
  height: 15vh;
  background-color: black;
  width: 70vw;
  position: fixed;
}

.success {
  color: blue;
}

#bounty {
  font-size: 0.9vw;
  color: aqua;
  font-weight: bold;
}

/* create hacker  */

#CRtitle {
  text-align: center;
}

#create-hacker {
  background-color: rgb(71, 223, 71);
  width: 910px;
  height: 800px;
}

#left-box {
  background-color: red;
  float: left;
  height: 300px;
  width: 30%;
  margin: 10px;
}

#center-box {
  background-color: red;
  float: left;
  height: 300px;
  width: 30%;
  margin: 10px;
}

#right-box {
  background-color: red;
  float: left;
  height: 300px;
  width: 30%;
  margin: 10px;
}

/* picture items */

.users-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  width: 30%;
  margin: 15px;
}

.user-item img {
  width: 50%;
  line-height: 1.2vw;
}

.failure {
  color: red;
  line-height: 1.2vw;
}

.level-up-text {
  font-size: 0.9vw;
  font-weight: bold;
  color: white;
  text-decoration: underline;
}

/* My Profile Style */

.flex-container-profile {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

.my-profile table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25vw;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.my-profile tr:nth-child(even) {
    background-color: #4d4848;
    color: #000;
}

.my-profile-status {
  margin: 3vw 5vw 1vw 5vw;
  line-height: 2vw;
}

.my-profile-hack-stats {
  margin: 3vw 5vw 1vw 5vw;
  line-height: 2vw;
}

.upgrade-table .button {
  margin-left: 1vw;
}

.stat-points {
  font-size: 1.2vw;
  line-height: 3vw;
  color: rgb(71, 223, 71);
  font-family: "Courier New", Courier, monospace;
}


/* Crime-page css layout */

.container-flex {
  display: flex;
  flex-flow: wrap;
  padding-top: 5vw;
}

.internet-scam {
  background-image: url("../images/hack-internet.jpg");
  background-size: 25vw 15vw;
  height: 15vw;
  width: 25vw;
  background-repeat: no-repeat;
  margin: 0 3.1vw 3vw 3.1vw;
}

.id-theft {
  background-image: url("../images/hack-id-theft.jpg");
  background-size: 25vw 15vw;
  height: 15vw;
  width: 25vw;
  background-repeat: no-repeat;
}

.company-breach {
  background-image: url("../images/hack-company.jpg");
  background-size: 25vw 15vw;
  height: 15vw;
  width: 25vw;
  background-repeat: no-repeat;
  margin: 0 3.1vw 0 3.1vw;
}

.container-two-flex {
  display: flex;
  flex-direction: column;
}

/* start of cards */

.title,
.text {
  font-family: "Courier New", Courier, monospace;
  font-size: 1vw;
  color: rgb(71, 223, 71);
}

.text {
  margin-top: 1vw;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container .card {
  text-align: center;
}

.flex-container img {
  margin: 0 auto;
}

.card {
  transition: 0.3s;
  width: 29vw;
  height: 30vw;
  margin: 2vw, 2vw, 0, 2vw;
  display: flex;
  flex-flow: wrap;
  background-color: black;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.description {
  padding: 2px 16px;
}

.card img {
  width: 15vw;
  height: 15vw;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.6vw 1.6vw;
  text-align: center;
  display: inline-block;
  font-size: 1vw;
}

.button-buy {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 0.5vw 1vw;
  text-align: center;
  display: inline-block;
  font-size: 1vw;
}

/* end of cards */

.flex-columns {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#information-text {
  color: rgb(236, 253, 220);
  text-align: center;
  padding-top: 4vh;
  font-size: 1vw;
  font-weight: bold;
  text-shadow: 2px 2px #145700;
  font-family: "Courier New", Courier, monospace;
}

#event-text {
  color: rgb(236, 253, 220);
  text-align: left;
  padding-top: 4vh;
  font-size: 1vw;
  font-weight: bold;
  text-shadow: 1px 1px #145700;
  font-family: "Courier New", Courier, monospace;
}

.flex-columns img {
  margin: 0 auto;
}

.flex-columns .description {
  text-align: center;
  line-height: 1vw;
}

/* WANTED LIST */
.wanted-list {
  margin-top: 5vw;
}

#wanted-list-form {
  margin-top: 5vw;
  margin-right: 3vw;
}

h2 {
  font-size: 1.2vw;
  color: aqua;
  font-weight: bold;
}

/* HOME INFORMATION PAGE */

#hidden-message {
  color: black;
  text-align: center;
  padding-top: 4vh;
  font-size: 1vw;
  font-weight: bold;
  text-shadow: 2px 2px #145700;
  font-family: "Courier New", Courier, monospace;
}

.sign-in-photo {
    display: block;
    float: left;
    position: relative;
    left: 20px;
}

.sign-up-photo {
    display: block;
    float: right;
    position: relative;
    left: 20px;
}

.flex-columns-notwrap {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
}

.text-hi {
    font-family: "Courier New", Courier, monospace;
    font-size: 1vw;
    color: rgb(71, 223, 71);
    line-height: 1.1;
}


.info {
  color: rgb(255, 230, 230);
  text-align: left;
  padding: 3vw 10vw 0vw 10vw;
  font-size: 1vw;
  line-height: 1.2vw;
  font-family: "Courier New", Courier, monospace;
}

.green {
  color: green
}
.red{
  color: rgb(255,0,0)
}

.blue{
  color: lightblue;
}

.lime{
  color: limegreen;
}

.purple{
  color: purple;
}

.orange{
  color: orange;
}
.yellow{
  color: yellow;
}
.rosybrown{
  color: rosybrown;
}


.success{
color: green;

}

.fail{
color: red;
}

/* SIGN IN PAGE */

#sign-in {
  margin: 10%;
  width: 100%;
}
.card-signin {
  padding: 25px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.card-signin img {
  height: 15vw;
}



/* END SIGN IN PAGE */

