<h1>ARCADE!</h1>

<div class="flex-columns">

    <div class="card">
        <img src="/images/chessathor.png">
        <div class="description">
            <h4 class="title"><b>CHESSATHOR</b></h4>
            <p class="text">FIND YOUR WAY TO THE GOAL WITH THE LONE KING PIECE</p>
            <br>
            <form action="">
                <button class="button">PLAY</button>
            </form>
        </div>
    </div>

    <div class="card">
        <img src="/images/squirtderby.png">
        <div class="description">
            <h4 class="title"><b>SQUIRT DERBY</b></h4>
            <p class="text">PICK YOUR CHARACTER FROM A ROSTER OF BIZARRE COMPETITORS AND RACE TO THE FINISH</p>
            <br>
            <form action="">
                <button class="button">PLAY</button>
            </form>
        </div>
    </div>
</div>
