<h1>EVENTS</h1>


<p id="event-text">
    DATE --  TIME -- player.x hacked you and stole y bitcoins. You lost z Firewall
</p>

<br>
<p id="event-text">
    05-09-2018 20:05 -- Fenrew hacked you and stole 500 bitcoins. You lost 7% Firewall
</p>
<br>
<p id="event-text">
    05-09-2018 20:00 -- Fenrew failed to hack you. You gained 50 exp
</p>
<br>
<p id="event-text">
    05-09-2018 20:10 -- Fenrew shut you down and stole your money. You are now immune until 06-09-2018 08:10
</p>