<h1>COMMIT A CRIME!</h1>

<div class="flex-columns">

    <div class="card">
        <img src="/images/troll.png">
        <div class="description">
            <h4 class="title"><b>INTERNET TROLL</b></h4>
            <p class="text">TROLL AROUND THE WEB, MAKING A QUICK BUCK WHILE DOING SO</p>
            <br>
            <form action="/hack/crimes/5b9003416ebed71cf12abdd5">
                <button class="button">DO IT</button>
            </form>
        </div>
    </div>

    <div class="card">
        <img src="/images/scam2.png">
        <div class="description">
            <h4 class="title"><b>WEB SCAM</b></h4>
            <p class="text">COMMIT SCAMS UPON THE MANY USERS OF THE INTERWEB</p>
            <br>
            <form action="/hack/crimes/5b9003416ebed71cf12abdd6">
                <button class="button">DO IT</button>
            </form>
        </div>
    </div>

    <div class="card">
        <img src="/images/hack-id-theft.jpg">
        <div class="description">
            <h4 class="title"><b>ID THEFT</b></h4>
            <p class="text">BECOME SOMEONE ELSE, WHO WANTS TO BE YOU ANYWAYS</p>
            <br>
            <form action="/hack/crimes/5b9003416ebed71cf12abdd7">
                <button class="button">DO IT</button>
            </form>
        </div>
    </div>

    <div class="card">
        <img src="/images/ddos.jpeg">
        <div class="description">
            <h4 class="title"><b>DDOS</b></h4>
            <p class="text">FORCE THE INTERNET TO TAKE A KNEE WITH A DDOS ATTACK</p>
            <br>
            <form action="/hack/crimes/5b9003416ebed71cf12abdd8">
                <button class="button">DO IT</button>
            </form>
        </div>
    </div>

    <div class="card">
        <img src="/images/hack-company.jpg">
        <div class="description">
            <h4 class="title"><b>LOGIC BOMB</b></h4>
            <p class="text">PLANT A LOGIC BOMB AND DO SOME SERIOUS DAMAGE UPON THE WORLD</p>
            <br>
            <form action="/hack/crimes/5b9003416ebed71cf12abdd9">
                <button class="button">DO IT</button>
            </form>
        </div>
    </div>
</div>