<h1>Commit a crime!</h1>

<div class="container-flex">
    <div class="container-two-flex">
        <div class="internet-scam"></div>
        <h4 class="title"><b>Internet Scam</b></h4> 
         <p class="text">Quick fix your computer and add 15% to your firewall for 10000$</p> 
         <br>
         <form action="" method="POST">
            <button class="button">DO IT</button>
         </form>
    </div>
    <div class="container-two-flex">
        <div class="id-theft"></div>
    </div>
    <div class="container-two-flex">
        <div class="company-breach"></div>
    </div>
</div>