<br>
<div class="gamepad-fixed-adjuster-two">
    <div id="loading">
    <div id="loading-bar">
    </div>
</div>
</div>
<div class="gamepad-fixed-adjuster"></div>
<div id="writing">
</div>
<div class="padding-underneath"></div>
<script>const result = {{{result}}}</script>
<script src="/javascripts/combat.js"></script>