<h1>INFORMATION</h1>

<p id="information-text">
    This game was made by three norgies that was seeking the nostaliga of text-based mmorpg.
</p>
<br>
<p id="information-text">
    Thank you to Lukas, Vivian and Noellia that made our project come true.
</p>
