<h1>INFORMATION</h1>

<p id="information-text">
    HOME: Here you can find a general overview about your player. Stats etc. STATS: [GREEN] FIREWALL: Indicates your HP. If it
    reaches zero it will result in your death and a penalty will follow. [RED] CPU: Indicates your strength. The better your
    CPU-stat, the better you will perform in Crimes and hacking other players. [BLUE] FIREWALL: Indicates your defense. A
    good Firewall-stat will help you defend against enemy hackers. [PURPLE] ENCRYPTION: Indicates your dodge. Dodging will
    help you when enemy players attack you and when you do Crimes. [ORANGE]: EXP indicates your experience. The more Crimes
    and Hacking you do, the more EXP you will get. For each milestone, you'll get a new Rank. [YELLOW]: BITCOINS: Indicates
    your wealth. You can use your Bitcoins to purchase items in the Marketplace. You can gain or lose them by hacking others.
    [COLOR]: CRIME SKILL ------ RANK: Indicates your level of experience as a hacker. The higher rank, this symbolize status
    more than anything else. CRIMES: Here you can conduct various kinds of crimes. If you succeed in your crime, you'll be
    granted some Bitcoins and EXP for the effor Be careful though, the Cyber Police 2000 may catch you in the act and confiscate
    your computer for 15 minutes. HACK PLAYER: Here you can attack other players by hacking them. Every stat, except Crime
    Skill,

</p>
<br>

<p id="information-text">
    This game was made by three norgies that was seeking the nostaliga of text-based mmorpg.
</p>
<br>
<p id="information-text">
    Thanks to Lukas, Vivian and Noellia for making project come true.
</p>