<h1>INFORMATION</h1>

<div class="info">
    <p><strong>HOME</strong>: Here you can find a general overview about your player. Stats etc. </p>
    <br>
    <strong>STATS:</strong>
    <br>
    <p><span class="green">FIREWALL</span>: Indicates your HP. If it reaches zero it will result in your death and a penalty will follow.</p>
    <br>
    
    <p><span class="red">CPU</span>: Indicates your strength. The better your CPU-stat, the better you will perform in Crimes and hacking other
        players. </p>
    <br>
    

    <p><span class="blue">FIREWALL</span>: Indicates your defense. A good Firewall-stat will help you defend against enemy hackers. </p>
    
    <br>
    <p><span class="purple">ENCRYPTION</span>: Indicates your dodge. Dodging will help you when enemy players attack you and when you do Crimes.</p>
    
    <br>
    <p><span class="orange">EXP</span> indicates your experience. The more Crimes and Hacking you do, the more EXP you will get. For each milestone,
        you'll get a new Rank. </p>
    
    <br>
    <p><span class="yellow">BITCOINS</span>: Indicates your wealth. You can use your Bitcoins to purchase items in the Marketplace. You can
        gain or lose them by hacking others.</p>
    
    <br>
    <p><span class="pink">CRIME SKILL</span>: Indicates your PvE skill. The higher the skill, the higher the chance of success in Crimes</p>
    <br>
    <br>
    <p> <strong>RANK</strong>: Indicates your level of experience as a hacker. This symbolize status more than anything else.</p>
    <br>
    <br>

    <p><strong>CRIMES</strong>: Here you can conduct various kinds of crimes. If you succeed in your crime, you'll be granted some Bitcoins
        and EXP for the effor Be careful though, the Cyber Police 2000 may catch you in the act and confiscate your computer
        for 15 minutes. </p>
<br>
    <br>
    <p> <strong>HACK PLAYER</strong>: Here you can attack other players by hacking them. Every stat, except Crime Skill, will affect the outcome
        of the attack. If you succeed, you'll steal some of the opponents bitcoins, as well as lowering his Firewall. Regardless
        of the outcome, your battery will lower. </p>
<br>
    <br>
    <p><strong>EVENTS</strong>: Shows you the latest events that has happend to your character.</p>
<br>
    <br>
    <p><strong>WANTED LIST</strong>: In the Wanted List you can add bounty on other players head, as well as being able to see which player
        already having a bounty on his head. You can collect this by hacking them until their Firewall is 0. </p>
<br>
    <br>
    <p><strong>FORUM, GROUPKILL AND HIDEOUT</strong> are not deployed yet.</p>
<br>
    <br>
    <p><strong>MARKETPLACE</strong>: You can boost your character by buying new equipment for your computer. You can only hold one item from
        each group: cpu, avs, firewall, encryption.</p>
<br>
    <br>
    <p><strong>SYSTEM REPAIR</strong>: The system repair allows you to fix up your computer for a relatively small fee. Choose between a quick
        fix or a full repair.</p>
<br>
    <br>
    <p><strong>LADDER</strong>: The ladder offers a overview of the other players in the game. The best ones are usually on top. </p>
<br>
    <br>
    <p><strong>INFORMATION</strong>: You're here right now</p>
<br>
    <br>
    <p><strong>ARCADE</strong>: Enjoy yourself with some top-of-the-class games</p>
<br>
    <br>
    <p><strong>LOGOUT</strong>: No worries, it won't wipe your harddrive..</p>
</div>

<br>

<p id="information-text">
    This game was made by three norgies that was seeking the nostaliga of text-based mmorpg.
</p>
<br>
<p id="information-text">
    Thanks to Lukas, Vivian and Noellia for making project come true.
</p>