<h1>SYSTEM REPAIR</h1>

<div class="flex-container">
      <div class="card">
            <img src="/images/partialrepair.jpg">
            <div class="description">
                  <h4 class="title"><b>QUICK FIX</b></h4>
                  <p class="text">Quick fix your computer and add 15% to your firewall for 10.000$</p>
                  <br>
                  <form action="/repair/partial">
                        <button class="button">DO IT</button>
                  </form>
            </div>
      </div>

      <div class="card">
            <img src="/images/fullrepair.jpg">
            <div class="description">
                  <h4 class="title"><b>FULL REPAIR</b></h4>
                  <p class="text">Let the mysterious kittens fully repair your firewall for 50.000$</p>
                  <br>
                  <form action="/repair/full">
                        <button class="button">DO IT</button>
                  </form>
            </div>
      </div>
</div>
{{#if message}}
<div id="writing">{{message}}</div>
{{/if}}

<script src="/javascripts/system-repair.js"></script>